
:root{
    --primary: #001d7c;
    --secondary: #ccc; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;

}

.container{
    background-color: var(--primary);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch_button{
    cursor: pointer;
    background-color: var(--secondary);
    width: 250px;
    height: 70px;
    border-radius: 100px;
    position: relative;
}

.switch_button button{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    border-radius: 50%;
    border: none;
    top: 13%;
    left: 6%;
    transition: transform 1s ease;
}

